.profile {
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 570px;
    align-items: center;
    border: 2px solid#2a2a2a;
    border-radius: 12px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #2a2a2a;
    align-items: center;
    display: inline-block;
  }
  
  .name {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
  }
  
  .tag {
    font-size: 32px;
    color: #808080;
    margin-bottom: 5px;
  }

  .location{
    font-size: 32px;
    color: #808080;
  }
 
  .stats {
    display: flex;
    justify-content: space-around;
    height: 100%;
    border-top: 1px solid #808080;
    background-color: #d3d3d3;
    border-radius: 0 0 12px 12px;
  }

  .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #808080;
    width: calc(100% / 3);
  }
  ul{
    width: 530px;
  }

  .stats li:last-child{
    border: none;
  }
  
  .label {
    font-size: 28px;
    color: #000;
  }
  
  .quantity {
    font-size: 28px;
    font-weight: bold;
    color: #000;
  }
  