.friendCard {
  width: 170px;
  height: 275px;
  border: 2px solid#2a2a2a;
  border-radius: 12px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color:black;
}

.friendAvatar {
  width: 100%;
  margin-bottom: 10px;
}

.friendName {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 36px;
}

.online {
  color: green;
}

.offline {
  color: red;
}